*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* Cartesian Plane */

p, a {
  margin-top: 40px; 
  color: #616161;
  text-decoration: none;
}

a {
  color: #83AFDC;
}
#cartesian {
  width: 300px;
  height: 300px;
  border-left: 4px solid #616161;
  border-top: 4px solid #616161;
  border-bottom:4px solid #616161;
  border-right: 4px solid #616161;
  position: relative;
  margin: 30px 0 0 50px;
  background-color:DarkGreen;
  background-image: linear-gradient(#13E213 2px, transparent 2px),
  linear-gradient(90deg, #13E213  2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  color: black;
  z-index: -2;
}

.blip {
  width: 9%;
  height: 9%;
  position: absolute;
  background: white;
  border-radius: 50%;
  top: 83%;
  left: 15%;
  opacity: 0;
  -webkit-animation: blip 1s linear infinite;
          animation: blip 1s linear infinite;
}
.cross-section {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cross-section:after {
  content: '';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#cartesian:before {
  content:"X";
  position: absolute;
  bottom: 5px;
  left: 273px;
  color: #13E213;
}

#cartesian:after {
  content:"Y";
  position: absolute;
  top: 2px;
  right: 277px;
  color: #13E213;
}

.xy0 {
  position: absolute;
  left: -40px;
  top: -20px;
}

.y100px {
  position: absolute;
  left: -40px;
  top: 95px;
}

.y200px {
  position: absolute;
  left: -40px;
  top: 195px;
}

.y300px {
  position: absolute;
  left: -40px;
  top: 295px;
}

.x100px {
  position: absolute;
  top: -25px;
  left: 80px;
}

.x100px {
  position: absolute;
  top: 300px;
  left: 80px;
}

.x200px {
  position: absolute;
  top: 300px;
  left: 180px;
}

.x300px {
  position: absolute;
  top: 300px;
  left: 280px;
}

@-webkit-keyframes scan {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(70deg);
            transform: translate3d(0, 0, 0) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(430deg);
            transform: translate3d(0, 0, 0) rotate(430deg);
  }
}

@keyframes scan {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(70deg);
            transform: translate3d(0, 0, 0) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(430deg);
            transform: translate3d(0, 0, 0) rotate(430deg);
  }
}
@-webkit-keyframes blip {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  45.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blip {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  45.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}